<% if logged_in? %>
  <div class="main-profile">
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
  <!--       <section class="micropost_form">
              render 'shared/micropost_form' %>
             </section> -->
      </aside>
        <% if todays_goal(current_user) == "No Goal" %>
            <aside class="col-md-4">
              <section class="goal_form">
                <%= render 'shared/goal_form' %>
              </section>
            </aside>
        <% else %>
            <div class="col-md-8">
              <div id = "dynamicTracker">
                <%= render 'shared/personal_tracker' %>
              </div>
            </div>
<!--             render 'timer/timer' %> -->
        <% end %>

  <!--     <div class="col-md-8">
        <h3>Micropost Feed</h3>
        render 'shared/feed' %> 
      </div> -->
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-8">
      <div class="scoreboard-area">
        <%= render 'shared/scoreboard' %>
      </div>
    </div>
    <div class = "col-md-4">
      <%= render 'shared/leaderboard' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Grasshopper</h1>

    <h2>
      Using social pressure to make you more productive
    </h2> 
      <%= link_to "Join now!", "/auth/facebook", id: "sign_in", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>

