<% if logged_in? %>
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  <div class="row">
    <h4 class="text-muted">Hello <%= current_user.name %></h4>
  </div>

  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <!-- <section class="micropost_form">
         render 'shared/micropost_form'
      </section> -->
    </aside>
<% if @todays_goal.nil? %>
    <aside class="col-md-4">
      <section class="goal_form">
        <%= render 'shared/goal_form' %>
      </section>
    </aside>
<% else %>

    <div class="col-md-8">
      <div class="counter">
        Actual: <%= @todays_pomos %> / Goal:
        <%= @todays_goal %>
      </div>
  </div>


  <% end %>
    <div class="work-area">
      <!-- render '/logs/timer'   -->
    </div>
    <!-- <div class="col-md-8">
      <h3>Micropost Feed</h3>
       render 'shared/feed' 
    </div> -->
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Grasshopper</h1>

    <h2>
      Using social pressure to make you more productive
    </h2> 
      <%= link_to "Join now!", "/auth/facebook", id: "sign_in", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>

