<% if logged_in? %>
<%= render 'shared/goal_form_button' %>


  <div class="container">
    <div>
      <%= render 'shared/patch_notes' %>
    </div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="main-profile">
      <div class="row">
        <div class = "timer_profile">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="stats">
            <%= render 'shared/stats' %>
          </section>
          <br>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#patchModal">
              Patch Notes
            </button>

        </div>
   <!--  <section class="micropost_form">
                render 'shared/micropost_form' %>
               </section> -->


          <div class = "col-md-12">
            <% if goal_count(Time.zone.today, current_user) == nil %>  
              <div class="goal_form">
                <%= render 'shared/goal_form' %>
              </div>
          <% end %>

              <div class = "counter">
                <div id = "personal_tracker">
                <%= render 'shared/personal_tracker' %>
                </div>
              </div>
            </div>
          
        <%= render 'timer/timer' %>
      </div>
    </div>

  <!--       <div class="col-md-8">
          <h3>Micropost Feed</h3>
          render 'shared/feed' %> 
        </div> --> 
    
    <div class = "row">
      <div class = "col-md-8">
        <div class="scoreboard-area">
          <div id="scoreboard">
            <%= render 'shared/scoreboard' %>
          </div>
        </div>
      </div>
      <div class = "col-md-4">
        <div class="scoreboard-area">
          <div id="leaderboard">
            <%= render 'shared/leaderboard' %>
          </div>
        </div>
      </div>
    </div>
</div>
<% else %>
  <%= render 'layouts/landing' %>
<% end %>