<% if logged_in? %>
  <div class="row">
    <h4 class="text-muted">Hello <%= current_user.name %></h4>
  </div>

  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <!-- <section class="micropost_form">
         render 'shared/micropost_form'
      </section> -->
    </aside>
  <% if todays_goal(current_user).nil? %>
      <aside class="col-md-4">
        <section class="goal_form">
          <%= render 'shared/goal_form' %>
        </section>
      </aside>
  <% else %>
      <div class="col-md-8">
        <div class="counter">
          Actual: <%= todays_pomos(current_user) %> / Goal:
          <%= todays_goal(current_user) %>
        </div>
      </div>
  <% end %>

    <div class="work-area">
      <%= current_user %>
      <%= @users %>
      <%= @users.map { |user| user }%>
       <% @users.each do |users| %>
        
      <%end %>
      <!-- render '/logs/timer'   -->
    </div>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
     <%= render 'shared/feed' %> 
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Grasshopper</h1>

    <h2>
      Using social pressure to make you more productive
    </h2> 
      <%= link_to "Join now!", "/auth/facebook", id: "sign_in", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>

