<% if logged_in? %>

  <div class="main-profile">
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
  <!--       <section class="micropost_form">
              render 'shared/micropost_form' %>
             </section> -->
      </aside>
        

        <div class = "col-md-8">
          <% if todays_goal(current_user) == "Not Active Today" %>  
            <section class="goal_form">
              <%= render 'shared/goal_form' %>
            </section>
        <% else %>

            <div id = "dynamicTracker">
              <%= render 'shared/personal_tracker' %>
            </div>
          </div>
        <% end %>
        <div class = "col-md-8">
          <h2>Update - May 7th</h2>
          <li>Goal Fixes</li>
          <ul>
            <li>Sorry for making a comment required. That was an accident.</li>
            <li>As you can see I made a pretty(ish...) pop up to record your goals. I know it might be annoying but for now if you don't want a goal can you enter 0?</li>
          </ul>
          <li>Warning Pop Up</li>
          <ul>
            <li>I removed this, it was only supposed to be on the timer page but it is everyone, I'm not sure why.</li>
          </ul>

        </div>
      </div>


<!--             render 'timer/timer' %> -->

  <!--     <div class="col-md-8">
        <h3>Micropost Feed</h3>
        render 'shared/feed' %> 
      </div> -->
  </div>
  <div class = "row">
    <div class = "col-md-8">
      <div class="scoreboard-area">
        <%= render 'shared/scoreboard' %>
      </div>
    </div>
    <div class = "col-md-4">
      <div class="scoreboard-area">
        <%= render 'shared/leaderboard' %>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'layouts/landing' %>
<% end %>