<% if logged_in? %>
  <div class="main-profile">
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
  <!--       <section class="micropost_form">
              render 'shared/micropost_form' %>
             </section> -->
      </aside>
        <% if todays_goal(current_user) == "No Goal" %>
            <aside class="col-md-4">
              <section class="goal_form">
                <%= render 'shared/goal_form' %>
              </section>
            </aside>
        <% else %>
            <div class="col-md-8">
              <div id = "dynamicTracker">
                <%= render 'shared/personal_tracker' %>
              </div>

              <h2>Update - May 5th</h2>
              <li>Weekly Leaderboard</li>
              <ul>
                <li>How do you stack up over the whole week?</li>
                <li>The leaderboard resets every Sunday night (I hope!). </li>
              </ul>
              <li>Timer fixes</li>
              <ul>
                <li>A warning pops up if you leave or refresh the site letting you know that you will lose the progress of your timer.</li>
              </ul>


              <h2>Update - May 4th</h2>
              <li>Timer Notification fixed</li>
              <ul>
                <li>The alarm will stop when you click the next button.</li>
                <li>The alarm will sound at the end of your break. </li>
                <li>I've heard the voices of the masses, I'm looking for a less annoying sound</li>
              </ul>
            </div>
<!--             render 'timer/timer' %> -->
        <% end %>

  <!--     <div class="col-md-8">
        <h3>Micropost Feed</h3>
        render 'shared/feed' %> 
      </div> -->
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-7">
      <div class="scoreboard-area">
        <%= render 'shared/scoreboard' %>
      </div>
    </div>
    <div class = "col-md-5">
      <div class="scoreboard-area">
        <%= render 'shared/leaderboard' %>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'layouts/landing' %>
<% end %>

