<% if logged_in? %>
  <div class="main-profile">
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
  <!--       <section class="micropost_form">
              render 'shared/micropost_form' %>
             </section> -->
      </aside>
        <% if todays_goal(current_user) == "Not Active" %>
            <aside class="col-md-4">
              <section class="goal_form">
                <%= render 'shared/goal_form' %>
              </section>
            </aside>
        <% else %>
            <div class="col-md-8">
              <div id = "dynamicTracker">
                <%= render 'shared/personal_tracker' %>
              </div>
            </div>
        <% end %>

        <div class = "col-md-8">
          <h2>Update - May 6th</h2>
          <li>Goal Split into 2 Parts</li>
          <ul>
            <li>An integer of your actual pomodoro goal (to allow for analytics later). Choose 0 if you don't want to be held to anything.</li>
            <li>A place for you to talk some smack (max 25 chars) </li>
          </ul>
          <li>Timer Update</li>
          <ul>
            <li>The title of the tab will now have the timer in it and signal when your time is done to help those without audio.</li>
            <li>A few button enable/disable changes to clean up the interface</li>
          </ul>
        </div>


<!--             render 'timer/timer' %> -->

  <!--     <div class="col-md-8">
        <h3>Micropost Feed</h3>
        render 'shared/feed' %> 
      </div> -->
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-8">
      <div class="scoreboard-area">
        <%= render 'shared/scoreboard' %>
      </div>
    </div>
    <div class = "col-md-4">
      <div class="scoreboard-area">
        <%= render 'shared/leaderboard' %>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'layouts/landing' %>
<% end %>

