<%= form_for(Entry.new) do |form| %>
	<p><%= form.label("name") %></p>
	<p><%= form.text_field("title") %></p>
	<p><%= form.label("date") %></p>
	<p><%= form.date_field("date") %></p>
	<p><%= form.label("goal") %></p>
	<p><%= form.text_area("goal") %></p>
	<p><%= form.label("actual") %></p>
	<p><%= form.text_area("actual") %></p>
	<p><%= form.submit %></p>
<% end %>
<p><%= link_to("Back to all entries", entries_path) %></p>