<% provide(:title, @user.name) %>


<div class="container">
  <div id="feed">
     <!-- render 'logs/log' -->
  </div>
  <div class="row">
    <aside class="col-md-4">
      <section>
        <h1>
          <%= image_tag(profile_pic @user)%>
          <%= @user.name %>
        </h1>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <!-- <div class="col-md-8">
      <%= render 'follow_form' if logged_in? %>
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
           render @microposts %>
        </ol>
         will_paginate @microposts %>
      <% end %>
    </div> -->
    <div id="feed">
    <% if @logs %>
      <% @logs.each do |l| %>
        <% if !l.next && l.created_at.to_date == Date.today %>
          <div class="row" id="today">
            <div class="col-sm-4 col-sm-offset-4 text-center">
              <p class="text-muted">Today</p>
            </div>
          </div>
        <% elsif (l.next && l.next.created_at.to_date != l.created_at.to_date) || !l.next %>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
              <p class="text-muted"><%= l.created_at.strftime("%B %e, %Y") %></p>
            </div>
          </div>
        <% end %>
        <div class="feed-item">
          <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
              <p class="task-feed text-danger"><%= raw(l.tag_list.map { |t| link_to t, tag_path(@user.id, t) }.join(', ')) %></p>
            </div>
          </div>
          <hr>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
</div>

