<%= form_for(Goal.new) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.number_field :number, min: 0, placeholder: "How many Pomodoros will you do today?" %>
    <%= f.text_area :content, placeholder: "Do a little trash talking" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>

<% end %>