<h3> The Daily Board </h3>
<div class = "scoreboard">
	<ol class = "scoreboard-list">
		<% @active_users.each do |user| %>
		<li class="user">
			<%= image_tag(small_pic(user), :class=>"circle_pic") %>
			<%= link_to user.name, user, {:class=>"name"} %>
			<span id="scoreboard_logID"><%= log_count(Date.today, user) %> </span> / 
	  		<span id="scoreboard_goalID"><%= goal_count(Date.today, user) %></span>
        	<%= todays_status(user) %>
		</li>
		<% end %>
	</ol>
</div>

<script>
var log = $('#scoreboard_logID').text();
var goal = $('#scoreboard_goalID').text();

if ((log-goal) < 0){
    document.getElementById('scoreboard_logID').style.color = 'rgb(218,57,57)';
    document.getElementById('scoreboard_goalID').style.color = 'rgb(218,57,57)';
}
else if ((log-goal) > 0){
    document.getElementById('scoreboard_logID').style.color = 'green';
    document.getElementById('scoreboard_goalID').style.color = 'green';
}

</script>