<h3> The Daily Board </h3>
<div class = "scoreboard">
	<ol class = "scoreboard-list">
		<% @active_users.each do |user| %>
		<li class="user">
			<%= image_tag(small_pic(user), :class=>"circle_pic") %>
			<%= link_to user.name, user, {:class=>"name"} %>
			<%= log_count(Date.today, user) %> / 
	  		<% goal_count(Date.today, user).each do |goal| %>
        		<%= goal.number %>
        	<% end %>
        	<%= todays_status(user) %>
		</li>
		<% end %>
	</ol>
</div>