<div class="col-md-12" id = "timer-interface">

  <div id="instructions"></div>

  <div id="timer"></div>
  <div id="sound"></div>
  
  <%= simple_form_for @log, remote:true, url: '/logs/create' do |f| %>
  <div id="tag_input">
      <%= f.label :tag_list, "Tags (optional, separated by commas)" %><br />
      <div class="tag_input">
        <%= f.text_field :tag_list, class: "form-control" %>
      </div>
  </div>
  <div id="done-buttons" style="display:none">
       <%= f.submit value: "Yes", name:"[log][result]", class: "btn btn-success", id: "yes-result-btn" %>
       <%= f.submit value: "No", name:"[log][result]", class: "btn btn-danger", id: "no-result-btn" %>
    <% end %>
  </div>


  <div id="work-buttons"></div>
  <div id="rest-buttons" style="display:none"></div>



  


    <!-- Display 'How did you do?' form -->

  <br>
  <div id="warning-message">
    Note: If the buttons get disabled try refreshing.
  </div>

</div>
<script>

var returnkey = "disabled"




var totalWork = 1500; /* 1500 */
var totalRest = 300; /* 300 */

 $('#work-buttons').html('<button type="button" id="start" class="btn btn-primary">Start</button>\
   <button type="button" id="pause" class="btn btn-primary">Pause</button>\
   <button type="button" id="resume" class="btn btn-primary">Resume</button>\
   <button type="button" id="reset" class="btn btn-primary">Reset</button>');

 $('#rest-buttons').html('<button type="button" id="end" class="btn btn-primary">End</button>');

 $('#instructions').html('<span id="current-segment">Pomodoro</span>');

 $('#timer').html(displayTime(sessionStorage.getItem('clock')), clock(sessionStorage.getItem('session'), sessionStorage.getItem('clock')));


 function playSound(filename){   
                document.getElementById("sound").innerHTML='<audio autoplay="autoplay"><source src="' + filename + '.mp3" type="audio/mpeg" /><source src="' + filename + '.ogg" type="audio/ogg" /><embed hidden="true" autostart="true" loop="false" src="' + filename +'.mp3" /></audio>';
            }

function stopSound(){
  document.getElementById("sound").innerHTML="";
}

 function displayTime(timeLeft) {
    if (timeLeft > 0){
    var seconds = timeLeft % 60, minutes = Math.floor(timeLeft / 60);
    document.getElementById('timer').innerHTML = (pad(minutes) + ':' + pad(seconds));
    }
    else { document.getElementById('timer').innerHTML = '00:00';
    }
  }

   function titleTime(timeLeft) {
    if (timeLeft > 0){
    var seconds = timeLeft % 60, minutes = Math.floor(timeLeft / 60);
    title = pad(minutes) + ':' + pad(seconds);
    return title;
    }
  }  

  function pad(val) {
    var valString = val + ""; 
    if (valString.length < 2) {
      return "0" + valString;
    } else {
      return valString;
    }
  }

 function clock(segment, timeremaining) {
  "use strict";
  // initialize

  var totalSeconds = segment === 'break' ? totalRest : totalWork;
  var timer = timeremaining, counter, starttime, ended = "no", startButton = document.getElementById('start'), pauseButton = document.getElementById('pause'), resumeButton = document.getElementById('resume'), resetButton = document.getElementById('reset'), endButton = document.getElementById('end');


  if (segment === null) {
    segment = 'work';
    sessionStorage.setItem("session", segment);
    sessionStorage.setItem("clock", totalSeconds);
    displayTime(totalSeconds);
    startButton.disabled = false;
    resumeButton.disabled = true;
    pauseButton.disabled = true;
    resetButton.disabled = true;
  }

  else if (segment == 'work' && timeremaining == totalSeconds) {
    startButton.disabled = false;
    resumeButton.disabled = true;
    pauseButton.disabled = true;
    resetButton.disabled = true;

  }

  else if (segment == 'work' && timeremaining < totalSeconds && timeremaining > 0) {
    displayTime(timeremaining);  
    $(function(){
      $('#resume').click();
    });
    startButton.disabled = true;
    resumeButton.disabled = true;
    pauseButton.disabled = true;
    resetButton.disabled = true;


  }

  else if (segment == 'work' && timeremaining == 0) {
    displayTime(timeremaining);
    $('#done-buttons').css({display: 'block'});
    $('#work-buttons').css({display:'none'});        
    $('#rest-buttons').css({display:'none'});
  }

  else if (segment == 'break' && timeremaining < totalSeconds && timeremaining > 0) {
    displayTime(timeremaining);
    endButton.disabled = true;
    $(function(){
      $('#resume').click();
    });
    $('#instructions').html('Break');
    $('#work-buttons').css({display:'none'});        
    $('#rest-buttons').css({display:'block'});
  }

  startButton.onclick = function() {
    stopSound();
    starttime = new Date().getTime();
    ended = "no"; 
    counter = setInterval(function() {setTime(totalSeconds, ended);}, 1000);
    startButton.disabled = true;
    pauseButton.disabled = false;
    resumeButton.disabled = true;
    resetButton.disabled = false;
  };

  pauseButton.onclick = function() {
      stop();
      startButton.disabled = true;
      pauseButton.disabled = true;
      resumeButton.disabled = false;
      resetButton.disabled = false;

  };

  resumeButton.onclick = function() {
      var timeremaining = sessionStorage.getItem('clock');
      starttime = new Date().getTime();
      ended = "no";
      counter = setInterval(function() {setTime(timeremaining, ended);}, 1000);
      startButton.disabled = true;
      pauseButton.disabled = false;
      resumeButton.disabled = true;
      resetButton.disabled = false;


  };

  resetButton.onclick = function() {
      stop();
      timer = totalSeconds;
      displayTime(timer);
      sessionStorage["clock"] = totalSeconds;
      startButton.disabled = false;
      pauseButton.disabled = true;
      resumeButton.disabled = true;
      resetButton.disabled = true;
  };

  endButton.onclick = function() {
    stop();   
    timer = 0;
    ended = "yes";      
    displayTime(timer);
    setTime(timer, ended);
    startButton.disabled = false;
    pauseButton.disabled = true;
    resetButton.disabled = true;
    resumeButton.disabled = true;

  }

  function setTime(numSeconds, ended) {
    if(numSeconds > 0) {
      var now = new Date().getTime();
      var counted = now-starttime;
      timer = numSeconds - Math.round(counted / 1000)
      sessionStorage.setItem("clock", timer);
      sessionStorage.setItem("session", segment);
      displayTime(timer);
      document.title = titleTime(timer) + " | Grasshopper";
    }
    else {
      stop();
      timer = 0;
    }


    if (timer <= 0) {
      stop();
      pauseButton.disabled = true;
      // document.title = "Grasshopper";
      flashTitle("Alarming!", 20);
      if (segment === 'work') {
        playSound('https://outwork.s3.amazonaws.com/audio/alarm')
        returnkey = "enable";
        $('#done-buttons').css({display: 'block'});
        displayTime(timer);
        $('#work-buttons').css({display:'none'});        
        $('#rest-buttons').css({display:'none'});
        endButton.disabled = false;
      }
      else { // break or malformed
        if (ended != "yes") {
          playSound('https://outwork.s3.amazonaws.com/audio/alarm')
        }
        sessionStorage.setItem("clock", totalWork);
        sessionStorage.setItem("session", 'work');      
        $('#instructions').html('Pomodoro');  
        $('#work-buttons').css({display:'block'});        
        $('#rest-buttons').css({display:'none'});      
        $('#timer').html(displayTime(totalWork), clock('work', totalWork));
      }
    }
		return timer;
  }




  function stop() {
    clearInterval(counter);
  }
}

$('#yes-result-btn').click(function() {
  stopSound();
  cancelFlashTitle();
  returnkey = "disabled";
  $('#done-buttons').css({display: 'none'});
  sessionStorage["session"] = 'break';
  sessionStorage["clock"] = totalRest;
  $('#instructions').html('Break');
  $('#timer').html(displayTime(totalRest), clock('break', totalRest));
  $('#work-buttons').css({display:'none'});        
  $('#rest-buttons').css({display:'block'});
  // Start the break clock going
  $('#start').click();
  // Update the counter
});

$('#no-result-btn').click(function() {
  stopSound();
  cancelFlashTitle();
  returnkey = "disabled";
  $('#done-buttons').css({display: 'none'});
  sessionStorage["session"] = 'work';
  sessionStorage["clock"] = totalWork;
  $('#timer').html(displayTime(totalWork), clock('work', totalWork));
  $('#work-buttons').css({display:'block'});        
  $('#rest-buttons').css({display:'none'});
});


(function () {

var original = document.title;
var timeout;

window.flashTitle = function (newMsg, howManyTimes) {
    function step() {
        document.title = (document.title == original) ? newMsg : original;

        if (--howManyTimes > 0) {
            timeout = setTimeout(step, 1000);
        };
    };

    howManyTimes = parseInt(howManyTimes);

    if (isNaN(howManyTimes)) {
        howManyTimes = 5;
    };

    cancelFlashTitle(timeout);
    step();
};

window.cancelFlashTitle = function () {
    clearTimeout(timeout);
    document.title = original;
};

}());


$("#new_log").on("keypress", function (e) {
  if (e.keyCode == 13) {
    if (returnkey == "disabled") {
      return false;
    }
    else {
      return true;
    }
  }
});
</script>