    <% if @logs %>
      <% @logs.each do |l| %>
        <% if !l.next && l.created_at.to_date == Date.today %>
          <div class="row" id="today">
            <div class="col-sm-4 col-sm-offset-4 text-center">
              <p class="text-muted">Today</p>
            </div>
          </div>
        <% elsif (l.next && l.next.created_at.to_date != l.created_at.to_date) || !l.next %>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
              <p class="text-muted"><%= l.created_at.strftime("%B %e, %Y") %></p>
            </div>
          </div>
        <% end %>
        <div class="feed-item">
          <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
              <p class="text-muted"><%= l.created_at.strftime("%l:%M%P") %></p>
              <p class="task-feed text-danger"><%= l.task %></p>
            </div>
            <div class="col-sm-5">
              <p class="text-muted"><%= l.ended_at.strftime("%l:%M%P") %></p>
              <p class="result-feed text-info"><%= l.result %></p>
            </div>
          </div>
          <hr>
        </div>
      <% end %>
    <% end %>