//On 'Log results' submit:

//Clear task header
$('#task-header').html('')
//clear counter
$("#counter").html('');
//Clear form, update display msg
$("#form-area").html('<h4 class="text-center text-info">Time for a break!</h4>');
//Update news feed
<% l = current_user.logs.last %>
if ($("#today").length == 0){
	$("#feed").prepend('<div class="row" id="today">\
							<div class="col-sm-4 col-sm-offset-4 text-center">\
								<p class="text-muted">Today</p>\
							</div>\
						</div>');
}

$('#today').after('<div class="feed-item" style="display: none;">\
						<div class="row">\
							<div class="col-sm-5 col-sm-offset-1">\
								<p class="text-muted"><%= l.created_at.strftime("%l:%M%P") %></p>\
								<p class="task-feed text-danger"><%= l.task %></p>\
							</div>\
							<div class="col-sm-5">\
								<p class="text-muted"><%= l.ended_at.strftime("%l:%M%P") %></p>\
								<p class="result-feed text-info"><%= l.result %></p>\
							</div>\
						</div>\
						<hr>\
					</div>');

$('.feed-item').first().delay('125').slideDown('slow');
//Start break timer
$('#break-timer').html('<h1>5:00</h1>', startBreakTimer());

function startBreakTimer(){
	var time = 300;
	// var time = 2;
	var timer = setInterval(function(){
		time = decrement(time);
		var minutes = Math.floor(time / 60);
		var seconds = time % 60;
		if(time == 0)
		{
			clearInterval(timer);
			createStartWorkForm();
		}
		$('#break-timer').html('<h1>'+(minutes.toString().length < 2 ? '0' + minutes : minutes) + ':' + (seconds.toString().length < 2 ? '0' + seconds : seconds)+'</h1>');
	}, 1000)
}

function decrement(seconds){
	return seconds - 1;
};

function createStartWorkForm(){
	$("#form-area").html('<h4 class="text-center">Break time is over!</h4>\
						<div class="row text-center">\
							<%= button_to "Start work", logs_start_work_path, remote: true, class: "btn btn-danger col-sm-4 col-sm-offset-4" %>\
						</div>');
}