<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true-%>
    
    <!-- SumoMe code -->
    <script src="//load.sumome.com/" data-sumo-site-id="664b8b66b315c2accd2ae72ed5501faec0d160c73a7db37e84c2b54527738e8d" async="async"></script>

    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/facebook' %>
    <%= render 'layouts/header' %>
      <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
    
</html>